.App {
  text-align: center;
  color: white;
  background: url("https://res.cloudinary.com/dvd0xwpmc/image/upload/v1539531286/showbusiness/cityligths.jpg");
  background-size: cover;
}
#mainMap {
  border-radius: 2%;
  text-decoration: none;
  text-shadow: 0px 0px black;
}
#placeMap {
  border-radius: 2%;
  text-decoration: none;
  text-shadow: 0px 0px black;
}
#myMap {
  border-radius: 2%;
  text-decoration: none;
  text-shadow: 0px 0px black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-main {
  //background-color: #F93;
  min-height: 100vh;
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  font-weight: bolder;
  color: white;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 40px;
  padding-bottom: 20px;
  text-shadow: 2px 2px black;
  h3 {
    font-weight: bolder;
    text-shadow: 2px 2px black;
  }
  h1 {
    font-weight: bolder;
    text-shadow: 2px 2px black;
  }
  
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
  cursor: pointer;
}

fieldset {
  border: 0;
}

.navbar-brand {
  img {
    width: 50px;
    height: 50px;
  }
}
.nav-link{
  img {
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-right: 5px;
  }
  #logoutlink {
    margin: 0 auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%
}
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b{
  font: 100 15vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.sublogo{
  width: 80vw;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}


#btn-twtr{
  clear:both;
  color:#fff;
  border:2px solid;
  border-radius:3px;
  text-align:center;
  text-decoration:none;
  display:block;
  font-family:sans-serif;
  font-size:14px;
  width:13em;
  padding:5px 10px;
  font-weight:600;
  position:absolute;
  bottom:20px;
  left:0;
  right:0;
  margin:0 auto;
  background:rgba(0,0,0,0.2);
  box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
  opacity:0.4
}#btn-twtr:hover{color:#fff;opacity:1}
