body {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  list-style: none;

/*   background: url("https://res.cloudinary.com/dvd0xwpmc/image/upload/v1539531286/showbusiness/cityligths.jpg");
  background-size: cover; */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-style ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-style li {
  margin-right: 20px;
  color: white;
}

.nav-style a {
  color: white;
  text-decoration: underline !important;
} */