ul {
    list-style: none;
    
}

a {
    color: white;
    text-decoration-line: none;
    cursor: pointer;
    transition:all 0.2s; 
    &:hover {
        color: #0F0;
        font-size: 110%;
        //text-shadow: 0px 0px black;
        text-decoration-line: none;
        font-weight: bolder;

    }
}
.eventsList{
    width: 100%;

    .eventInList{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        img{
            width: 180px;
            height: 100px;
            border-radius:5%;
        }
        
        *{
            display: flex;
            p{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
